*
{
  margin:0;
  padding:0;
}

@font-face{
  font-family:noshaded; src:url('comic.otf');
}

body {
  position: relative
}

body.index{
  background-image:url('img/blue.jpg');
}

.wrapper {
  width: 100%;
}

.img-banner {
  font-family: noshaded;
  font-size:30px;
  color:white;
  text-align:center;
  background-color:rgb(65, 50, 85, 0.5);
}

.img-info {
  width: 100%:
}

.img-info h2 {
  text-align:center;
  padding : 15px 30px 10px;
  font-size:30px;
  line-height:44px;
  color: white;
}

.img-info h3 {
  padding-top:10px;
  text-align:center;
  color: white;
}

.img-info p {
  text-align:center;
  padding : 5px 30px 20px;
  font-size:16px;
  line-height:20px;
  color:white;
}

.img-me{
  width: 100%;
  padding:20px;
}

.cardwrapper{
  margin:0 auto;
  width:80%
}

.article-gif{
  margin: 0 auto;
  width: 100%;
}

.img-banner1 {
  padding-top:10px;
  padding-bottom:10px;
  font-size:50px;
  color:white;
  text-align:center;
  background-color:rgb(65, 50, 85, 0);
}

.img-banner2{
  display:none;
}

.img-banner3 {
  display:none;
}

.img-banner4{
  display:none;
}

footer{
  color:white;
  position:fixed;
  text-align: center;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background-color:DodgerBlue;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

@media only screen and (min-width: 768px) {
  .img-banner {
    font-size:50px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0.5);
  }

  .img-banner1 {
    display:none;
    font-size:50px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0);
  }

  .img-banner2 {
    display:block;
    font-size:50px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0);
  }

  .wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .img-info p {
    text-align:center;
    padding : 15px 30px 20px;
    font-size:20px;
    line-height:25px;
    color:white;
  }

  .img-info h2 {
    text-align:center;
    padding : 15px 30px 20px;
    font-size:50px;
    line-height:44px;
    color: white;
  }

  .cardwrapper{
    width:100%;
    height:50px;
  }

  .article-gif{
      font-size:50px;
      color:white;
      text-align:center;
      background-color:rgb(65, 50, 85, 0);
      margin: 0 auto;
      width: 100%;
  }

  .article-img{
    margin: 0 auto;
    width: 100%;
  }

  .img-banner3 {
    padding:10px;
    float:center;
    display:block;
    max-width: 800px
    font-size:50px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0);
  }

}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1500px;
    width:100%;
  }

  .img-banner {
    font-size:40px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0.5);
  }

  .img-banner2 {
    padding:10px;
    float:left;
    display:block;
    max-width: 800px
    font-size:50px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0);
  }

  .img-banner3 {
    padding:20px;
    float:right;
    display:block;
    max-width: 800px
    font-size:50px;
    color:white;
    text-align:center;
    background-color:rgb(65, 50, 85, 0);
  }

  .img-banner4{
    display:block;
    text-align:center;
    background-color:rgb(65, 50, 85, 0);
  }

  .article-gif{
    padding-top:20px;
      float:right;
      max-width: 600px;
      margin: block;
      width: 100%;
      background-color:rgb(65, 50, 85, 0);
  }

  .img-info {
    width: 100%;
  }

  .img-me {
    float:left;
    width:300px;
    height:300px;
    padding:10px;
  }

  .img-info p {
    text-align:justify;
    padding : 15px 30px 0px;
    font-size:18px;
    line-height:25px;
    color:white;
  }

  .img-info h2 {
    text-align:left;
    padding : 15px 30px 0px;
    font-size:50px;
    line-height:44px;
    color: white;
  }

  .cardwrapper{
    width: 80%;
  }

  p.center{
    text-align:center;
  }

}
